<h2 mat-dialog-title class="font-victormono font-bold text-4xl text-center">
  Know your details
</h2>
<mat-dialog-content class="mat-typography">
  <div class="border-dotted border-gray-700 text-2xl text-black" style="font-family: Ubuntu;">
    <p>Username : {{ currentUser?.username }}</p>
    <p>Name : {{ currentUser?.name |titlecase}}</p>
    <p>Role : {{ currentUser?.role }}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
