<div
  class="min-h-screen"
  style="
    background-image: url('../../../assets/AuthenticationBG.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  "
>
  <div
    class="signup flex flex-col justify-center items-center mx-auto"
    *ngIf="!onLogin"
  >
    <h1 class="font-victormono py-8 underline text-xl">
      Register on this platform
    </h1>
    <div class="flex justify-center items-center backdrop-blur-xl">
      <form
        action=""
        #registerForm="ngForm"
        (ngSubmit)="signup(registerForm.value)"
        class="flex flex-col space-y-6 border-4 rounded-md border-black p-6 items-center justify-center"
      >
        <input
          type="email"
          placeholder="Enter Email"
          class="p-2 border-2 border-gray-500 rounded-md focus:outline-none"
          ngModel
          name="username"
          #username="ngModel"
          required
          email
        />
        <span *ngIf="username.invalid && username.touched" class="text-red-700"
          >Please enter a valid email</span
        >
        <span *ngIf="existingMailMsg!=undefined" class="text-red-700">{{existingMailMsg}}</span>
        <input
          type="text"
          placeholder="Enter Name"
          class="p-2 border-2 border-gray-500 rounded-md focus:outline-none"
          ngModel
          name="name"
          #name="ngModel"
          minlength="2"
          pattern="[a-zA-Z]+$"
          required
        />
        <span *ngIf="name.invalid && name.touched" class="text-red-700">Please enter a non-numerical valid name greater than 2 characters</span>
        <input
          type="password"
          placeholder="Enter Password"
          class="p-2 border-2 border-gray-500 rounded-md focus:outline-none"
          ngModel
          name="password"
          required
        />

        <select
          class="p-2 border-2 border-gray-500 rounded-md focus:outline-none w-3/4"
          ngModel
          name="role"
          required
        >
          <option value="" disabled>Choose Role</option>
          <option value="user">{{ "user" | titlecase }}</option>
          <option value="brand">{{ "brand" | titlecase }}</option>
        </select>

        <button
          class="w-full py-2 px-5 rounded-md bg-gray-400 hover:bg-gray-500 text-white"
        >
          Sign-Up
        </button>
        <button (click)="switchLogin()" class="text-blue-400">
          Already an existing user? Do login by clicking here
        </button>
      </form>
    </div>
  </div>
  <!-- Login form -->
  <div
    class="signup flex flex-col justify-center items-center mx-auto"
    *ngIf="onLogin"
  >
    <h1 class="font-victormono py-8 underline text-xl">Login Here</h1>
    <div class="flex justify-center items-center">
      <form
        action=""
        #userLogin="ngForm"
        (ngSubmit)="login(userLogin.value)"
        class="flex flex-col space-y-6 border-4 rounded-md border-black p-6 items-center justify-center"
      >
        <span class="text-red-400">{{ authError }}</span>
        <input
          type="email"
          placeholder="Enter e-mail"
          class="p-2 border-2 border-gray-500 rounded-md focus:outline-none"
          ngModel
          name="username"
        />
        <input
          type="password"
          placeholder="Enter password"
          class="p-2 border-2 border-gray-500 rounded-md focus:outline-none"
          ngModel
          name="password"
        />
        <button
          class="w-full py-2 px-5 rounded-md bg-gray-400 hover:bg-gray-500 text-white"
        >
          Login
        </button>
        <button (click)="switchLogin()" class="text-blue-400">
          New to our platform? Click here to register
        </button>
      </form>
    </div>
  </div>
</div>
