<div
  class="flex flex-col justify-center items-center min-h-screen"
  style="
    background-image: url('../../../assets/InitialBG.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  "
>
  <div class="flex flex-col justify-center items-center w-1/3">
    <h1 class="font-headtext text-4xl text-[#f5f3f3] p-2 text-center">
      Enrich your routine, with better products
    </h1>
    <p class="font-paratext text-xl text-[#c6f3f3] tracking-widest mt-10 mb-6 font-semibold">
      Your smile matters
      <br />
      Your mood matters
      <br />
      Your story matters
      <br />
      Why not your opinion...
    </p>
    <div class="bg-cyan-500 p-4 m-4 rounded-md border cursor-pointer" routerLink="/user-entry">
      Create Account
    </div>
  </div>
</div>
