<div class=" min-h-screen"
style="
    background-image: url('../../assets/userBG.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  ">
  <div
    class="signup flex flex-col justify-center items-center mx-auto"
   
  >
    <h1 class="font-victormono py-8 underline text-xl font-extrabold text-white">Add your review here</h1>
    <div class="flex justify-center items-center backdrop-blur-xl">
      <form
        action=""
        #registerForm="ngForm"
        
        class="flex flex-col space-y-6 border-4 rounded-md border-black p-6 items-center justify-center"
      >
        <input
          type="email"
          placeholder="Enter Email"
          class="p-2 border-2 border-gray-500 rounded-md focus:outline-none"
          ngModel
          name="username"
        />
        <input
          type="text"
          placeholder="Enter Name"
          class="p-2 border-2 border-gray-500 rounded-md focus:outline-none"
          ngModel
          name="name"
        />
        <input
          type="password"
          placeholder="Enter Password"
          class="p-2 border-2 border-gray-500 rounded-md focus:outline-none"
          ngModel
          name="password"
        />

        <select class="p-2 border-2 border-gray-500 rounded-md focus:outline-none w-3/4 " ngModel name="role">
          <option value="" disabled>Choose Role</option>
          <option value="user">{{'user'|titlecase}}</option>
          <option value="brand">{{'brand'|titlecase}}</option>
        </select>

        <button
          class="w-full py-2 px-5 rounded-md bg-gray-400 hover:bg-gray-500 text-white"
        >
          Sign-Up
        </button>
        <button  class="text-blue-400">
          Already an existing user? Do login by clicking here
        </button>
      </form>
    </div>
  </div>
  